<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  SEARCH FOR A COUNTRY:
  <form method="POST" action="/countries">
    <input type="text" name="code" placeholder="COUNTRY CODE..">

    <button>SEARCH</button>
  </form>
</body>

</html>
